%nav.navbar
  .container.margin-top
    .logo= link_to "minuit", root_path, data: { keybinding: 'x' }

%section#tile_wrapper.infinite-table.daytime2
  %article
    %h2 Just let me sign out
    #profile.pull-left= link_to image_tag("Sign_out.svg"), destroy_user_session_path, :method => :delete
    %br
    %br
    %br
    %h2
      Edit your Account
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
        = f.input :password_confirmation, required: false
        = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
      .form-actions
        = f.button :submit, "Update"
    %br
    %br
    %h3 I WANT TO DELETE MY ACCOUNT!!!!!!!
    %p Okay okay, just click here: #{link_to "DELETE!", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    %p Just remember, I can't reverse this.