%nav.navbar
  .container.margin-top
    .logo= link_to "minuit", root_path, data: { keybinding: 'x' }
 
%div#accountbox
  - if user_signed_in?
    #profile= link_to image_tag("Sign_in.svg"), edit_user_registration_path
  - else
    #profile= link_to image_tag("Sign_in.svg"), new_user_session_path, data: { no_turbolink: true }

%div#colorbox
  #mode= image_tag("Nightmode.svg")

%div.categories.daytime1
  - Category.all.each do |category|
    = link_to image_tag((category.name).split('/')[0]), posts_path(category: category.name)

.search
  = form_tag posts_path, :method => 'get' do |f|
    = text_field_tag :search, params[:search], :class => "searchbox daytime1"
    //= submit_tag "Search"

%section#tile_wrapper.infinite-table.daytime2
  %article
    = render :partial => 'posts', :object => @posts
  %p.pagination
    = link_to_next_page(@posts, '', :remote => true)

#footer
  .col-md-6.col-md-offset-3
    =link_to "about", about_path  
    =link_to "contact", contact_path