%nav.navbar
  .container.margin-top
    .logo= link_to "Spagheese", root_path, data: { keybinding: 'x' }
 
%div#accountbox
  - if user_signed_in?
    #profile= link_to image_tag("Sign_in.svg"), edit_user_registration_path
    #profile= link_to image_tag("Sign_out.svg"), destroy_user_session_path, :method => :delete
  - else
    #profile= link_to image_tag("Sign_in.svg"), new_user_session_path, data: { no_turbolink: true }

%div.categories
  - Category.all.each do |category|
    = link_to image_tag((category.name).split('/')[0]), posts_path(category: category.name)

%section#tile_wrapper
  %article
    - @posts.each do |post|
      .tile
        .hexagon
          .hexagon-in1
            .hexagon-in2
              - if post.image?
                = link_to (image_tag post.image.url(:thumb)), post, class: "index-img"