%div#accountbox
  - if user_signed_in?
    /*#profile= link_to image_tag("Sign_in.svg"), edit_user_registration_path*/
    = link_to edit_user_registration_path do
      #profile= inline_svg("Profile")
  - else
    = link_to new_user_session_path do
      #profile= inline_svg("Profile")

%div#colorbox
  #keys= link_to inline_svg("Keys"), shortcuts_path
  #mode= inline_svg("Nightmode")

%section#index_wrapper
  #index_logo.margin-top
    .logo= link_to "hiatus", root_path, data: { keybinding: 'x' }
   

  %div.categories
    - Category.all.each do |category|
      = link_to inline_svg((category.name).split('/')[0]), posts_path(category: category.name)

  .search
    = form_tag posts_path, :method => 'get' do |f|
      = text_field_tag :search, params[:search], :class => "searchbox", :value => @tag
      //= submit_tag "Search"

%section#tile_wrapper.infinite-table
  %article
    = render :partial => 'posts', :object => @posts
  %p.pagination
    = link_to_next_page(@posts, '', :remote => true)

#footer
  .col-md-1
    =link_to "about", about_path  
    =link_to "contact", contact_path