%nav.navbar.navbar-default
  .container
    .logo= link_to "HIVE", root_path, data: { keybinding: 'x' }
    - if current_user == User.first
      #edit_post= link_to image_tag("Edit"), edit_post_path
      #new_post= link_to image_tag("Add"),  new_post_path
    .controls-left
      = link_to image_tag("Nextcat"), @post.nextcat, data: { keybinding: ['q'] }
      = link_to image_tag("Next"), @post.next, data: { keybinding: ['a','left'] }
    .controls-right
      = link_to image_tag("Pre"), @post.previous, data: { keybinding: ['d','right'] }
      = link_to image_tag("Prevcat"), @post.prevcat, data: { keybinding: ['e'] }
    .scroll= link_to "", post_path(:anchor => 'bottom'), data: { keybinding: ['s'] }
    .scroll= link_to "", post_path(:anchor => 'top'), data: { keybinding: ['w'] }
  
    
.image-wrapper
  - if @post.image?
    = image_tag @post.image.url(:medium)

.col-md-6.col-md-offset-3
  .post-details
    .image-details
      = distance_of_time_in_words(Time.now, @post.created_at) 
      ago to
    .image-details
      %span.glyphicon.glyphicon-resize-full
      = link_to "Full Resolution", @post.image.url
    - if @post.source?
      .image-details
        %span.glyphicon.glyphicon-link
        = link_to "Source", @post.source
    .image-details.pull-right
    = link_to like_post_path(@post), method: :put, class: "likes" do
      = @post.get_upvotes.size
      %span.glyphicon.glyphicon-heart
  %hr/
  %a.class{:name => "bottom"}
  .post-tags
    - @post.tag_list.each do |tag|
      .tags
        = link_to tag, tag_path(tag)
  - if @post.description.present?
    .description_wrapper= markdown @post.description
    %hr/
    .submitbtn= f.submit "Submit", class: "btn btn-default"