%nav.navbar.navbar-default
  .container
    .logo= link_to "minum", root_path, data: { keybinding: 'x' }
    .controls-left
      = link_to image_tag("Nextcat"), @post.nextcat, data: { keybinding: ['q'] }
      = link_to image_tag("Next"), @post.next, data: { keybinding: ['a','left'] }
    .controls-right
      = link_to image_tag("Pre"), @post.previous, data: { keybinding: ['d','right'] }
      = link_to image_tag("Prevcat"), @post.prevcat, data: { keybinding: ['e'] }
    .scroll= link_to "", post_path(:anchor => 'bottom'), data: { keybinding: ['s'] }
    .scroll= link_to "", post_path(:anchor => 'top'), data: { keybinding: ['w'] }
  
    
.image-wrapper
  - if @post.image? and @post.id != 10
    = image_tag @post.image.url(:medium)
  - else
    = image_tag @post.image.url(:medium), :style => "transform: rotate(-4deg)"

= link_to @post.next do
  #navfield_left

= link_to @post.previous do
  #navfield_right

.col-md-6.col-md-offset-3
  .post-details
    .image-details
      = distance_of_time_in_words(Time.now, @post.created_at) 
      ago to
    .image-details
      %span.glyphicon.glyphicon-resize-full
      = link_to "Full Resolution", @post.image.url
    - if @post.source?
      .image-details
        %span.glyphicon.glyphicon-link
        = link_to "Source", @post.source
    - if current_user == User.first
      .image-details
        = link_to edit_post_path do
          %span.glyphicon.glyphicon-wrench
        = link_to new_post_path do
          %span.glyphicon.glyphicon-plus
        = link_to post_path, method: :delete, data: { confirm: "Are you sure?" } do
          %span.glyphicon.glyphicon-remove
    .image-details.pull-right
      = link_to like_post_path(@post), method: :put, class: "likes" do
        = @post.get_upvotes.size
        %span.glyphicon.glyphicon-heart
    .image-details.pull-right
      = @post.comment_threads.count
      %span.glyphicon.glyphicon-comment
  %hr/
  %a.class{:name => "bottom"}
  .post-tags
    - @post.tag_list.each do |tag|
      .tags
        = link_to tag, tag_path(tag)
  - if @post.description.present?
    .description_wrapper= markdown @post.description
    %hr/
  - if current_user != nil
    #comments
      = render :partial => 'comments/comment', :collection => @comments, :as => :comment
      = render :partial => 'comments/form', :locals => { :comment => @new_comment }
  .margin-bottom