!!! 5
%html
%head
  %title Insert Title Here
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  - if notice || alert
    #notice-wrapper
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert notice"


  = yield